/* =============================================================================

    JOSHDRINK: HOME
    COMPONENTS - LANDING - ABOUT

============================================================================= */
.about-grid {
    border-bottom: 1px solid rgba(200, 200, 200, 1);

    @media screen and (min-width: 1024px) {
        display: grid;
        grid-template-columns: 40% 0% 60%;
    }

}

.profile {
    background: rgba(250, 250, 250, 1);
    border-bottom: 1px solid rgba(200, 200, 200, 1);
    padding: 2rem 0;

    @media screen and (min-width: 768px) {
        padding: 4rem 0;
    }

    @media screen and (min-width: 1024px) {
        border-bottom: none;
        border-right: 1px solid rgba(200, 200, 200, 1);
        padding-left: 3rem;
    }

}

.profile__wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 20rem;
    text-align: center;
    width: 90%;

    @media screen and (min-width: 1024px) {
        margin: 0 0 0 auto;
        padding: 0 4rem 0 0;
        text-align: left;
    }

    hr {
        border: none;
        border-bottom: 1px solid rgba(200, 200, 200, 1);
        display: block;
        height: 0;
    }

}

.profile__image {
    border-radius: 3px;
    display: block;
    width: 100%;
}

.profile__title {
    // background: $palette--pink;
    // background: white;
    // border: 1px solid rgba(200, 200, 200, 1);
    border-top: none;
    // border-radius: 0 0 3px 3px;
    color: $font-color;
    // color: $palette--pink;
    display: block;
    font-family: $font--pt-sans;
    font-size: $font-scale--h3;
    font-weight: 700;
    line-height: 1;
    margin: 2rem 0;
    // text-align: center;
    // text-transform: uppercase;
}

.profile__status {
    color: $palette--pink;
    display: block;
    font-family: $font--pt-sans;
    font-size: $font-scale--small;
    font-weight: 700;
    letter-spacing: initial;
    line-height: 1;
    margin: 0 0 2rem 0;
}

.profile__subtitle {
    color: $font-color;
    font-family: $font--pt-sans;
    font-size: $font-scale--regular;
    line-height: 1.6;
    margin: 1rem 0;

    &:first-of-type {
        margin: 2rem 0 1rem 0;
    }

    span {
        font-size: .8rem;
        vertical-align: middle;
    }

    a {
        color: $palette--pink;
        transition: color .2s ease;
    }

}

.no-touchevents {

    .profile__subtitle {

        a:hover {
            color: $font-color;
            transition: color .2s ease;
        }

    }

}

.about {
    padding: 3rem 0;

    @media screen and (min-width: 768px) {
        padding: 6rem 0 4rem;
    }

    @media screen and (min-width: 1024px) {
        padding-right: 3rem;
    }

}

.about__wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 35rem;
    width: 90%;

    @media screen and (min-width: 1024px) {
        margin: 0 auto 0 0;
        padding: 0 0 0 4rem;
    }

}

// .about {
//     border-bottom: 1px solid rgba(200, 200, 200, 1);
//     padding: 4rem 0;
//
//     @media screen and (min-width: 768px) {
//         padding: 6rem 0;
//     }
//
// }

.about__alert {
    border: 1px solid $palette--pink;
    border-radius: 3px;
    margin: 2rem 0;
    padding: 1rem;

    >*:first-child {
        margin-top: 0;
    }

    >*:last-child {
        margin-bottom: 0;
    }

    p {
        color: $palette--pink;
        display: block;
        font-family: $font--pt-sans;
        font-size: $font-scale--h5;
        margin: 1rem 0;
    }

}

.about__alert-contact {

    a {
        position: relative;
    }

}

.about__alert-contact-tag {
    background: rgba(63, 63, 74, 1);
    border-radius: 3px;
    color: white;
    font-family: $font--pt-sans;
    font-size: $font-scale--small;
    font-weight: 700;
    line-height: 1rem;
    min-width: 6rem;
    opacity: 0;
    padding: .6rem .5rem .5rem .5rem;
    pointer-events: none;
    position: absolute;
    top: 150%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0);
    transition: opacity .2s ease;

    &:before {
        background: rgba(63, 63, 74, 1);
        content: " ";
        display: block;
        height: .5rem;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: .5rem;
    }

    &.active {
        opacity: 1;
        transition: opacity .2s ease;
    }

}
