/* =============================================================================

    JOSHDRINK: HOME
    COMPONENTS - LANDING - ABOUT

============================================================================= */
.about {
    border-bottom: 1px solid rgba(200, 200, 200, 1);
    padding: 4rem 0;

    @media screen and (min-width: 768px) {
        padding: 6rem 0;
    }

}
