/* =============================================================================

    JOSHDRINK: HOME
    COMPONENTS - LANDING - HERO

============================================================================= */
.hero {
    background-position: center;
    background-size: cover;
    height: 100vh;
    max-height: 100%;
    position: relative;
    top: 0;
    z-index: 10;

    @media screen and (min-width: 768px) {
      height: 75vh;
    }

    &:before {
        // background: rgba(0, 0, 15, .5);
        background: -moz-linear-gradient(top, rgba(0,0,15,0) 0%, rgba(0,0,15,0.5) 25%);
        background: -webkit-linear-gradient(top, rgba(0,0,15,0) 0%,rgba(0,0,15,0.5) 25%);
        background: linear-gradient(to bottom, rgba(0,0,15,0) 0%,rgba(0,0,15,0.5) 25%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000000f', endColorstr='#8000000f',GradientType=0 );
        content: " ";
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .core__container--content {
        padding-bottom: 10vh;
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -40%);
        img {
          width: 5rem;
        }
    }

}

.hero__title {
    color: white;
    font-family: $font--pt-sans;
    font-size: $font-scale--h1;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 2.5rem 0;
}

.hero__trigger {
    // animation: glow 4s ease infinite;
    // animation-delay: 2s;
    color: white;
    font-family: $font--pt-serif;
    font-size: $font-scale--regular;
    margin: 0;
    // text-shadow: 0 1px 10px $palette--pink;
    transition: all .2s ease;
}

// @keyframes glow {
//     0% {opacity: 1;}
//     5% {opacity: .2;}
//     6.3% {opacity: 1;}
//     7.5% {opacity: .2;}
//     10% {opacity: 1;}
//     17.5% {opacity: .2;}
//     18.8% {opacity: 1;}
//     20% {opacity: .2;}
//     21.3% {opacity: 1;}
//     22.5% {opacity: .2;}
//     25% {opacity: 1;}
//     100% {opacity: 1;}
// }

.no-touchevents {

    .hero__trigger:hover {
        animation: none;
        color: white;
        text-shadow: none;
        transition: all .2s ease;
    }

}

.hero__credit {
    color: rgba(180, 180, 195, 1);
    display: inline-block;
    font-family: $font--pt-sans;
    font-size: $font-scale--small;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    text-decoration: none;
    transition: all .2s ease;
    vertical-align: middle;

    a {
        color: rgba(180, 180, 195, 1);
        transition: color .2s ease;
    }

    svg {
        margin: -.15rem .5rem 0 0;
        vertical-align: middle;
        width: 13px;

        path {
            fill: rgba(180, 180, 195, 1);
            transition: all .2s ease;
        }

    }

}

.no-touchevents {

    .hero__credit {

        a:hover {
            color: $palette--pink;
            transition: color .2s ease;
        }

    }

}
