/* =============================================================================

    JOSHDRINK: HOME
    COMPONENTS - LANDING - PRACTICE

============================================================================= */
.practice {
    padding: 6rem 0;
}

.practice__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
    margin: 3rem auto 0;
}

[class*="practice__item--"] {
    border: 1px solid rgba(200, 200, 200, 1);
    border-radius: 3px;
    display: block;
    overflow: hidden;
    // padding: 2rem;
    position: relative;
    text-decoration: none;
    transform: scale(1);
    transition: all .2s ease;

    &:before {
        background: rgba(0, 0, 15, .75);
        // content: " ";
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 5;
    }

    &[class*="ffxiv"] {

    }

}

.no-touchevents {

    [class*="practice__item--"]:hover {
        box-shadow: 0 7px 15px rgba(0, 0, 0, .4);
        transform: scale(1.05);
        transition: all .2s ease;
    }

}

.practice__item-meta-wrapper {
    padding: 2rem;

    +.practice__item-content-wrapper {
        margin-top: -.5rem;
        padding-top: 0;
    }

}

.practice__item-label {
    color: $palette--pink;
    display: block;
    font-family: $font--pt-sans;
    font-size: $font-scale--small;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 1.5rem;
    position: relative;
    z-index: 10;
}

.practice__item-title {
    color: $font-color;
    display: block;
    font-family: $font--pt-sans;
    font-size: $font-scale--h3;
    font-weight: 700;
    letter-spacing: -.1rem;
    line-height: 1;
    margin: 0 0 1.5rem;
    position: relative;
    z-index: 10;
}

.practice__item-subtitle {
    color: $font-color;
    display: block;
    font-family: $font--pt-serif;
    font-size: $font-scale--regular;
    font-weight: 500;
    line-height: 1.4;
    margin: 0 0 1.5rem 0;
    position: relative;
    z-index: 10;

    &:last-child {
        margin: 0;
    }

}

.practice__item-problem-wrapper {
    background: rgba(0, 0, 15, .75);
    padding: 2rem;
}

.practice__item-problem {
    color: white;
    display: block;
    font-family: $font--pt-sans;
    font-size: $font-scale--small;
    font-weight: 500;
    line-height: 1.4;
    margin: 0 0 1.5rem 0;
    padding: 0 0 0 2.85rem;
    position: relative;
    text-indent: -2.85rem;
    z-index: 10;

    &:last-child {
        margin: 0;
    }

}

.practice__item-content-wrapper {
    padding: 2rem 2rem 1.5rem 2rem;
}

.practice__item-tag {
    background: rgba(200, 200, 200, 1);
    border-radius: 3px;
    color: white;
    display: inline-block;
    font-family: $font--pt-sans;
    font-size: $font-scale--small;
    font-weight: 700;
    line-height: 1;
    margin: 0 .25rem .5rem 0;
    padding: .6rem 1rem .5rem 1rem;
    position: relative;
    z-index: 10;
}

.practice__copyright {
    padding: 5rem 0 0 0;
    text-align: center;
}

.practice__copyright-title {
    color: rgba(180, 180, 195, 1);
    font-family: $font--pt-sans;
    font-size: $font-scale--small;
    font-weight: 500;
    letter-spacing: initial;
    line-height: 1;
    margin: 0;
}
