/* =============================================================================

    JOSHDRINK: HOME
    COMPONENTS - LANDING - PUBLICATIONS

============================================================================= */
.publication-grid {
    border-bottom: 1px solid rgba(200, 200, 200, 1);

    @media screen and (min-width: 1024px) {
        display: grid;
        grid-template-columns: 60% 40%;
    }

}

.publications {
    padding: 3rem 0;

    @media screen and (min-width: 768px) {
        padding: 4rem 0;
    }

    @media screen and (min-width: 1024px) {
        padding-left: 3rem;
    }

}

.publications__wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 35rem;
    width: 90%;

    @media screen and (min-width: 1024px) {
        margin: 0 0 0 auto;
        padding: 0 4rem 0 0;
    }

}

.publications__title {
    color: $font-color;
    display: block;
    font-family: $font--pt-sans;
    font-size: $font-scale--h3;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 2rem 0;
    text-align: center;

    @media screen and (min-width: 1024px) {
        text-align: left;
    }

}

.publications__item {
    border-bottom: 1px solid rgba(200, 200, 200, 1);
    color: $font-color;
    display: block;
    margin: 0 0 2rem 0;
    padding: 0 0 2rem 0;
    text-decoration: none;

    &:last-child {
        border-bottom: none;
    }

    &.hidden {
        display: none;
    }

}

.no-touchevents {

    a.publications__item:hover {

        .publications__item-title {
            color: $font-color;
            transition: color .2s ease;
        }

    }

}

.publications__item-meta {
    color: rgba(180, 180, 195, 1);
    display: block;
    font-family: $font--pt-sans;
    font-size: $font-scale--small;
    font-weight: 500;
    margin: 0 0 1rem 0;
}

.publications__item-title {
    color: $palette--pink;
    display: block;
    font-family: $font--pt-sans;
    font-size: $font-scale--h5;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    text-decoration: underline;
}

.publications__item-excerpt {
    color: $font-color;
    font-family: $font--pt-serif;
    font-size: $font-scale--regular;
    line-height: 1.6;
    margin: 1rem 0 0 0;
}

.publications__button {

    &.disabled {

        .publications__button-load-more {
            display: none;
        }

        .publications__button-disabled {
            display: block;
        }

    }

    .publications__button-load-more {
        display: block;
    }

    .publications__button-disabled {
        display: none;
    }

}

.partners {
    background: rgba(250, 250, 250, 1);
    border-top: 1px solid rgba(200, 200, 200, 1);
    padding: 3rem 0;

    @media screen and (min-width: 768px) {
        padding: 4rem 0;
    }

    @media screen and (min-width: 1024px) {
        border-top: none;
        border-left: 1px solid rgba(200, 200, 200, 1);
        padding-right: 3rem;
    }

}

.partners__wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 20rem;
    width: 90%;

    @media screen and (min-width: 1024px) {
        margin: 0 auto 0 0;
        padding: 0 0 0 4rem;
    }

}

.partners__title {
    color: $font-color;
    display: block;
    font-family: $font--pt-sans;
    font-size: $font-scale--h3;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 2rem 0;
    text-align: center;

    @media screen and (min-width: 1024px) {
        text-align: left;
    }

}

.partners__copy {
    color: $font-color;
    font-family: $font--pt-serif;
    font-size: $font-scale--regular;
    line-height: 1.6;
    margin: 1.5rem 0;
}

.partners__link {
    border-radius: 3px;
    display: block;
    margin: 0 0 2rem 0;
    overflow: hidden;
    transition: all .2s ease;

    img {
        display: block;
        width: 100%;
    }

}

.no-touchevents {

    a.partners__link:hover {
        box-shadow: 0 7px 15px rgba(0, 0, 0, .4);
        transform: scale(1.05);
        transition: all .2s ease;
    }

}
