---
layout: default
title: Writing
permalink: /writing/
order: 4
---

<!-- Archive =============================================================== -->
<section class="main archive">

    <div class="container flex-grid top">

        <div class="box lg-7of10">

            <dl class='article-list flex-grid'>
                <dt></dt>

                <dd class='box full intro'>
                    <div>
                        <h1 class='title'>Post Archive</h1>
                        <p>Welcome to the archive of everything I've posted. Ever. In case you weren't aware, I write about my practice of <a href="/writing/design">design</a>, test my mettle in the best <a href="/writing/gaming">video games</a>, and review some pretty awesome <a href="/writing/comics">comics</a>. You can use the search below to find anything specific you might be looking for.</p>
                        <input id='writingFilter' type='text' placeholder='Look for something...'>
                    </div>
                </dd>

                {% for post in site.categories.writing %}
                    <dd class="box med-1of2 summary">
                        <div>
                            {% if post.tags contains "design" %}
                                <a href="/writing/design" class="label">In Design</a>
                            {% endif %}
                            {% if post.tags contains "gaming" %}
                                <a href="/writing/gaming" class="label">In Gaming</a>
                            {% endif %}
                            {% if post.tags contains "comics" %}
                                <a href="/writing/comics" class="label">In Comics</a>
                            {% endif %}
                            <span class="date">{{ post.date | date: '%A, %B %d, %Y' }}</span>
                            <h3>
                                <a href='{{post.url}}'>{{ post.title }}</a>
                            </h3>
                            <p>{{ post.excerpt }}</p>
                            <a href="{{post.url}}" class="read-more">Read More <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </dd>
                {% endfor %}
                <dd class='no-result box med-1of2'>
                    <h3>Sorry, try a different term.</h3>
                    <p>Oops! It seems that you're searching for an article that doesn't exist! Give it another go, or, checkout the latest posts column for something new!</p>
                </dd>
            </dl>

        </div>

        {% include sidebar.html %}

    </div>

</section>
