/* =============================================================================

    JOSHDRINK: POST
    COMPONENTS - POST - POST

============================================================================= */
.post__wrapper {
    border-bottom: 1px solid rgba(200, 200, 200, 1);
    padding: 4rem 0;
    position: relative;

    @media screen and (min-width: 768px) {
        padding: 6rem 0;
    }

    .core__content {
        background: white;
        position: relative;
        z-index: 10;
    }

}

.guide {
    // background: rgba(180, 180, 195, 1);
    background: rgb(180,180,195);
    background: -moz-linear-gradient(left, rgba(180,180,195,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 80%, rgba(180,180,195,1) 100%);
    background: -webkit-linear-gradient(left, rgba(180,180,195,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 80%,rgba(180,180,195,1) 100%);
    background: linear-gradient(to right, rgba(180,180,195,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 80%,rgba(180,180,195,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4b4c3', endColorstr='#b4b4c3',GradientType=1 );
    display: none;
    height: 1px;
    max-width: 100%;
    position: sticky;
    top: 30vh;
    width: 100vw;
    z-index: 5;

    @media screen and (min-width: 768px) {
        display: block;
    }

}
