/* =============================================================================

    COPY CSS
    Authored by Josh Beveridge

============================================================================= */
.copy {
    padding: 0 2rem;

    @media $(p-tablet) {
        padding: 0 5rem;
    }

    @media $(l-tablet) {
        padding: 0 7rem;
    }

    @media screen and (min-width: 9000px) {
        margin: 0 auto;
        max-width: calc(9000px - (7rem * 2) );
        padding: 0;
    }

    /* Headings */
    h1, h2, h3, h4, h5, h6 {
        color: $drink-black;
        font-family: $font-gibson;
        font-weight: 600;
        margin: calc($heading-line-height * 1rem) 0 calc( ($heading-line-height / 2) * 1rem) 0;

        span {
            color: inherit;
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
            line-height: inherit;
            margin: 0;
        }

        a {
            color: inherit;
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
            line-height: inherit;
            margin: 0;
            text-decoration: underline;
        }

    }

    h1, h2, h3, h4 {
        line-height: $heading-line-height;
    }

    h5, h6 {
        line-height: $copy-line-height;
    }

    h1 {
        font-size: calc(((($font-size*$min-ratio)*$min-ratio)*$min-ratio)*$min-ratio);

        @media $(p-tablet) {
            font-size: calc(((($font-size*$mid-ratio)*$mid-ratio)*$mid-ratio)*$mid-ratio);
        }

        @media $(desktop) {
            font-size: calc(((($font-size*$max-ratio)*$max-ratio)*$max-ratio)*$max-ratio);
        }

    }

    h2 {
        font-size: calc((($font-size*$min-ratio)*$min-ratio)*$min-ratio);

        @media $(p-tablet) {
            font-size: calc((($font-size*$mid-ratio)*$mid-ratio)*$mid-ratio);
        }

        @media $(desktop) {
            font-size: calc((($font-size*$max-ratio)*$max-ratio)*$max-ratio);
        }

    }

    h3 {
        font-size: calc(($font-size*$min-ratio)*$min-ratio);

        @media $(p-tablet) {
            font-size: calc(($font-size*$mid-ratio)*$mid-ratio);
        }

        @media $(desktop) {
            font-size: calc(($font-size*$max-ratio)*$max-ratio);
        }

    }

    h4 {
        font-size: calc($font-size*$min-ratio);

        @media $(p-tablet) {
            font-size: calc($font-size*$mid-ratio);
        }

        @media $(desktop) {
            font-size: calc($font-size*$max-ratio);
        }

    }

    /* Basic Copy */
    p, blockquote, code, ul li, ol li {
        line-height: $copy-line-height;
        margin: calc( ($heading-line-height / 2) * 1rem) 0;
    }

    p {
        color: rgba(0, 0, 10, .65);
        font-family: $font-pt;
        font-size: 1rem;
        font-weight: 500;
    }

}

/* Theme Variations ========================================================= */
body.beer {

    .copy {

    }

}

body.coffee {

    .copy {

    }

}

body.lemonade {

    .copy {

    }

}

body.water {

    .copy {

    }

}
