/* =============================================================================

    FOOTER CSS
    Authored by Josh Beveridge

============================================================================= */
footer {
    background: $white;
    border-top: 1px solid $grey-80;
    margin: $padding-double 0 0 0;
    padding: $padding-double 0 5rem 0;

    @media $(l-tablet) {
        padding: $padding-double 0;
    }

    img {
        display: block;
        margin: 0 auto;
        padding: $padding-double 0;
        width: 25%;

        @media $(p-tablet) {
            padding: 0;
            width: 35%;
        }

    }

    .love {
        font-family: $font-roboto;
        font-size: .7rem;
        font-weight: 700;
        line-height: 1.25;
        margin: 0;
        padding: $padding-double $padding;
        text-align: center;
        text-transform: uppercase;

        @media $(p-tablet) {
            text-align: left;
        }

        span {
            color: $grey-50;
        }

        a {
            text-decoration: none;
        }

    }

    .copy {
        color: $grey-50;
        font-family: $font-roboto;
        font-size: .7rem;
        font-weight: 700;
        line-height: 1.25;
        margin: 0;
        padding: $padding-double $padding;
        text-align: center;
        text-transform: uppercase;

        @media $(p-tablet) {
            text-align: right;
        }

    }

}
