/* =============================================================================

    GRID CSS
    Property of Norex
    Authored by Josh Beveridge and Justin Bellefontaine

============================================================================= */
.row {
    font-size: 0;
}

.column {
    display: inline-block;
    font-size: 1rem;
    padding: 0 1rem;
    width: 100%;
    vertical-align: top;

    &.small-5 {
        width: 50%;
    }

    &.medium-33 {

        @media $(p-tablet) {
            width: 33.33%;
        }

    }

    &.medium-5 {

        @media $(p-tablet) {
            width: 50%;
        }

    }

    &.medium-66 {

        @media $(p-tablet) {
            width: 66.66%;
        }

    }

    &.large-1 {

        @media $(l-tablet) {
            width: 10%;
        }

    }

    &.large-2 {

        @media $(l-tablet) {
            width: 20%;
        }

    }

    &.large-3 {

        @media $(l-tablet) {
            width: 30%;
        }

    }

    &.large-33 {

        @media $(l-tablet) {
            width: 33.33%;
        }

    }

    &.large-4 {

        @media $(l-tablet) {
            width: 40%;
        }

    }

    &.large-5 {

        @media $(l-tablet) {
            width: 50%;
        }

    }

    &.large-6 {

        @media $(l-tablet) {
            width: 60%;
        }

    }

    &.large-66 {

        @media $(l-tablet) {
            width: 66.66%;
        }

    }

    &.large-7 {

        @media $(l-tablet) {
            width: 70%;
        }

    }

    &.large-8 {

        @media $(l-tablet) {
            width: 80%;
        }

    }

    &.large-9 {

        @media $(l-tablet) {
            width: 90%;
        }

    }

    &.large-10 {

        @media $(l-tablet) {
            width: 100%;
        }

    }

}
