/* =============================================================================

    HEADER CSS
    Authored by Josh Beveridge

============================================================================= */
header {
    background: $red-transparent;
    position: fixed;
    bottom: 0;
    left: 0;
    transform: translate(0, 0);
    transition: all .3s ease;
    width: 100%;
    z-index: 50;

    @media $(l-tablet) {
        top: 0;
        bottom: auto;
    }

    nav {

        .nav-item {
            color: $white;
            font-family: $font-roboto;
            font-weight: 300;
            text-transform: uppercase;
            text-decoration: none;

            &.active {
                text-decoration: underline;
            }

        }

    }

    .mobile {
        display: block;
        text-align: center;

        @media $(l-tablet) {
            display: none;
        }

        .open {
            padding: 1rem 0;

            >h1 {
                color: $white;
                font-size: 1rem;
                font-weight: 300;
                letter-spacing: normal;
                margin: 0;
                text-transform: uppercase;
            }

            >p {
                font-family: $font-roboto;
                font-weight: 300;
                color: $white;
                font-size: .6rem;
                margin: 0;
                text-transform: uppercase;
            }

        }

        .wrapper {
            max-height: 0;
            transition: max-height .3s ease;

            .nav-item {
                display: block;
                padding: .5rem 0;

                &:first-of-type {
                    padding: 1.5rem 0 .5rem 0;
                }

            }

            .close {
                color: $type;
                padding: 2rem 0 1rem 0;

                i {
                    margin: 0 0 0 .5rem;
                }

            }

        }

    }

    .desktop {
        display: none;
        padding: 1rem 0;

        @media $(l-tablet) {
            display: block;
        }

        .nav-item {
            margin: 0 1rem 0 0;
        }

    }

    &.active {
        transform: translate(0, -100%);
        transition: all .3s ease;
    }

}
