/* =============================================================================

    GUIDE RETURN LINK CSS
    Authored by Josh Beveridge

============================================================================= */
.guide__return-link {
    background: $red;
    padding: .7rem 0;

    a {
        color: $font-white;
        font-family: $font-aktiv;
        font-size: $font-scale-small;
        font-weight: 300;
        text-decoration: none;
        text-transform: uppercase;
    }

    i {
        margin: 0 .5rem 0 0;
    }

}
