/* =============================================================================

    CONTENT CSS
    Authored by Josh Beveridge

============================================================================= */
.content {
    padding: $padding-mobile 0 0 0;

    .title {
        margin-top: 0;
        text-align: center;
    }

    .date {
        font-family: $font-roboto;
        font-size: .8rem;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
    }

}
