/* =============================================================================

    CONTENT CSS
    Authored by Josh Beveridge

============================================================================= */
.content {
    padding: $padding-mobile 0 0 0;

    @media $(l-tablet) {
        padding: 4rem 0 0 0;
    }

    .title {
        margin: 2.5rem 0 2.5rem 0;
        text-align: center;
    }

    .post-date {
        font-family: $font-roboto;
        font-size: .6rem;
        font-weight: 300;
        margin: 2.5rem 0;
        text-align: center;
        text-transform: uppercase;
    }

    .right {
        text-align: right;
    }

    .center {
        text-align: center;
    }

    /* List of Articles ===================================================== */
    .article-list {

        dd {
            margin: 0 0 2.5rem 0;

            .medium-3 {

                @media $(p-tablet) {
                    padding-left: 0;
                    text-align: right;
                }

                p {
                    font-size: .6rem;
                    margin: 0;

                    span {
                        font-size: inherit;
                    }

                    a {
                        font-family: $font-roboto;
                        font-weight: 300;
                        text-transform: uppercase;
                    }

                    &.date {
                        border-top: .5rem solid $black;
                        font-family: $font-roboto;
                        font-weight: 300;
                        margin: .3rem 0 .5rem 0;
                        padding: .8rem 0 0 0;
                        text-transform: uppercase;
                    }

                }

            }

            .medium-7 {

                h3 {
                    /*font-weight: 500;*/
                    /*letter-spacing: normal;*/
                    margin: 0 0 1rem 0;

                    a {
                        /*color: $type;*/
                        text-decoration: none;
                    }

                }

                .excerpt {
                    font-size: .8rem;

                    p {
                        margin: 0;
                    }

                }

            }

            &last-child {
                margin: 0;
            }

        }

    }

    /* CV Navigation ======================================================== */
    .cv-navigation {

        .column {
            text-align: center;

            a {
                text-decoration: none;

                h6 {
                    font-size: .8rem;
                    margin: .5rem 0;
                    transition: all .3s ease;
                }

                &:hover {

                    h6 {

                        @media $(desktop) {
                            color: $red;
                            transition: all .3s ease;
                        }

                    }

                }

            }

        }

    }

    &.landing {
        padding: 0;
    }

}
