/* =============================================================================

    CONTENT CSS
    Authored by Josh Beveridge

============================================================================= */
.content {
    padding: $padding-mobile 0 0 0;

    @media $(l-tablet) {
        padding: $padding-desktop 0 0 0;
    }

    .content-container {

        >*:first-child {
            margin-top: 0;
        }

    }

    .title {
        text-align: center;
    }

    .post-date {
        font-family: $font-roboto;
        font-size: .8rem;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
    }

    .article-list {

        dd {
            margin: 0 0 2.5rem 0;

            .date {
                font-family: $font-roboto;
                font-size: .8rem;
                font-weight: 300;
                margin: .5rem 0 0 0;
                text-transform: uppercase;
            }

            >h3 {
                margin: 0;

                a {
                    color: $type;
                }

            }

            &last-child {
                margin: 0;
            }

        }

    }

}
