/* =============================================================================

    HERO CSS
    Authored by Josh Beveridge

============================================================================= */
.hero {
    background-image: url("../img/texture_grid.png");
    background-position: center;
    background-repeat: repeat;
    min-height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;

    &:after {
        background: -moz-linear-gradient(top,  rgba(250,250,250,0.5) 0%, rgba(250,250,250,0.6) 50%, rgba(250,250,250,1) 100%);
        background: -webkit-linear-gradient(top,  rgba(250,250,250,0.5) 0%,rgba(250,250,250,0.6) 50%,rgba(250,250,250,1) 100%);
        background: linear-gradient(to bottom,  rgba(250,250,250,0.5) 0%,rgba(250,250,250,0.6) 50%,rgba(250,250,250,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80fafafa', endColorstr='#fafafa',GradientType=0 );
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    >h1 {
        margin: 0;
        padding: 4rem 0;
        position: relative;
        z-index: 5;

        @media $(l-tablet) {
            padding: 8rem 0 4rem 0;
        }

    }

    .row {
        padding: 0 $padding-mobile 4rem $padding-mobile;
        position: relative;
        z-index: 5;

        @media $(p-tablet) {
            padding: 0 $padding-mobile;
        }

        @media $(l-tablet) {
            padding: 0 $padding-mobile 4rem $padding-mobile;
        }

        .column {

            a {
                display: inline-block;
                margin: 0 0 4rem 0;
                text-decoration: none;
                width: 65%;

                @media $(l-tablet) {
                    margin: 0;
                }

                img {
                    border: none;
                    height: auto;
                    width: 100%;
                }

                h6 {
                    margin: .5rem 0;
                    transition: color .1s ease;
                }

                &:hover {

                    h6 {

                        @media $(desktop) {
                            color: $red;
                            transition: color .1s ease;
                        }

                    }

                }

            }

        }

    }

    >a {
        color: $red;
        font-family: $font-roboto;
        font-size: 1.2rem;
        font-weight: 100;
        letter-spacing: .2rem;
        margin: 0 auto;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        z-index: 5;

        i {
            color: $type;
            transform: translate(0, 0);
            transition: all .3s ease;
        }

        &:hover {

            i {

                @media $(desktop) {
                    transform: translate(0, 50%);
                    transition: all .3s ease;
                }

            }

        }

    }

}
