/* =============================================================================

    IMG CSS
    Authored by Josh Beveridge

============================================================================= */
.img {
    align-items: stretch;
    display: flex;
    overflow: hidden;
    padding: $padding-double 0;

    @media $(p-tablet) {
        padding: $padding-double $padding;
    }

    >div {
        background-position: top center;
        background-size: cover;
        flex: 1;
        min-height: 15rem;
        position: relative;
        z-index: 0;

        /*&:before {
            @mixin red-purple-trans;
            content: ' ';
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 5;
        }*/

    }

    &.full {
        display: block;

        >div {
            flex: none;
            min-height: 0;

            img {
                display: block;
            }

        }

    }

    &.offset {
        padding: $padding $padding $padding-double $padding;
    }

}
