/* =============================================================================

    IMG CSS
    Authored by Josh Beveridge

============================================================================= */
.img {
    align-items: stretch;
    display: flex;
    overflow: hidden;
    padding: $padding-double $padding;

    >div {
        background-position: center;
        background-size: cover;
        flex: 1;
        min-height: 15rem;
    }

    &.full {
        display: block;
    }

    &.offset {
        padding: $padding $padding $padding-double $padding;
    }

}
