/* =============================================================================

    INTRO CSS
    Authored by Josh Beveridge

============================================================================= */
.intro {
    margin: $padding-half 0 $padding 0;
    padding: $padding;

    @media $(l-tablet) {
        margin: 0;
        padding: $padding-double $padding;
    }

    >div {
        background: $grey-light;
        padding: $padding-double;

        h1 {
            margin: 0 0 $padding 0;
        }

        >a {
            font-family: $font-pt;
            font-size: 1rem;

            @media $(l-tablet) {
                display: block;
                margin: $padding-double 0;
            }

        }

        p {
            font-size: 1rem;
            margin: $padding 0;

            @media $(l-tablet) {
                margin: $padding-double 0;
            }

            &:last-child {
                margin-bottom: 0;
            }

        }

        ul {

            span {
                margin: 0 0 0 -1.5rem;
            }

        }

        input {
            background: $white;
            margin: 0;
        }

    }

}
