/* =============================================================================

    INTRO CSS
    Authored by Josh Beveridge

============================================================================= */
.intro {
    margin: $padding-half 0 $padding 0;
    padding: $padding;

    @media $(l-tablet) {
        margin: 0;
        padding: $padding-double $padding;
    }

    >div {
        /*background: $grey-light;*/
        border: 1px solid $grey;
        padding: $padding-double;
        position: relative;

        h1 {
            margin: 0 0 $padding 0;

            span {
                color: $red;
            }

        }

        >a {
            font-family: $font-pt;
            font-size: 1rem;

            @media $(l-tablet) {
                display: block;
                margin: $padding-double 0;
            }

        }

        p {
            font-size: 1rem;
            margin: $padding 0;

            @media $(l-tablet) {
                margin: $padding-double 0;
            }

            &:last-child {
                margin-bottom: 0;
            }

        }

        >.flex-grid {

            ul:first-of-type {
                margin: 0;

                @media $(p-tablet) {
                    margin: 0 0 2rem 0;
                }

            }

            ul:last-of-type {

                span {
                    display: none;

                    @media $(p-tablet) {
                        display: block;
                    }

                }

            }

        }

        ul {
            margin: 0 0 2rem 0;
            padding: 0 0 0 1.5rem;

            span {
                margin: 0 0 0 -1.5rem;
            }

        }

        dl {
            margin: $padding-double 0;
            /*text-align: center;*/

            @media $(p-tablet) {
                position: absolute;
                top: .2rem;
                right: 3rem;
                /*text-align: left;*/
            }

            @media $(l-tablet) {
                /*margin: $padding-double 0;*/
            }

            dd {
                display: inline-block;
                margin: 0 $padding-double 0 0;

                @media $(p-tablet) {
                    margin: 0 0 0 $padding-double;
                }

                a {
                    color: $type;
                    font-size: .8rem;
                }

            }

        }

        >div {
            position: relative;

            label {
                color: $grey;
                display: block;
                font-family: $font-roboto;
                font-size: 1rem;
                font-weight: 300;
                line-height: 1.2;
                margin: 0;
                position: absolute;
                top: $padding;
                left: 0;
                text-transform: uppercase;
                transition: all .3s ease;
                z-index: 5;

                i {
                    margin: 0 .5rem 0 0 ;
                }

                &.active {
                    top: 0;
                    font-size: .6rem;
                    transition: all .3s ease;
                }

            }

            input {
                border: none;
                border-bottom: 1px solid $black;
                color: $black;
                font-family: $font-roboto;
                margin: 0;
                padding: $padding 0 $padding-half 0;
                position: relative;
                z-index: 10;

                &:focus {
                    border-bottom: 1px solid $red;
                }

            }

        }

    }

}
