/* =============================================================================

    LATEST POSTS CSS
    Authored by Josh Beveridge

============================================================================= */
.latest-posts {
    background: $black;
    /*border-top: .5rem solid $red;*/
    /*border-bottom: .5rem solid $red;*/

    .row {

        .post {
            border-bottom: 1px solid $white;
            padding: 0;

            @media $(l-tablet) {
                border-bottom: none;
            }

            >a {
                display: block;
                height: 100%;
                padding: $padding-tablet;
                text-decoration: none;
                transition: all .3s ease;

                .date {
                    font-family: $font-roboto;
                    font-size: .8rem;
                    font-weight: 300;
                    margin: 0 0 .5rem 0;
                    text-transform: uppercase;
                }

                h4 {
                    color: $white;
                    margin: $padding-grid-mobile 0;
                    transition: all .3s ease;
                }

                .excerpt p {
                    color: $white;
                    font-size: .8rem;
                    margin: $padding-grid-mobile 0 0 0;
                    transition: all .3s ease;
                }

                .tag {
                    color: $red;
                    display: inline;
                    font-family: $font-roboto;
                    font-size: .8rem;
                    font-weight: 300;
                    text-transform: uppercase;

                    i {
                        color: $white;
                        display: inline-block;
                        font-style: normal;
                        margin: 0 .5rem;
                    }

                }

                &:hover {
                    background: $white;
                    transition: all .3s ease;

                    h4 {
                        color: $type;
                        transition: all .3s ease;
                    }

                    .excerpt p {
                        color: $type;
                        transition: all .3s ease;
                    }

                    .tag {

                            i {
                                color: $type;
                                transition: all .3s ease;
                            }

                    }

                }

            }

        }

    }

}
