/* =============================================================================

    LATEST POSTS CSS
    Authored by Josh Beveridge

============================================================================= */
.latest-posts {

    dl {
        padding: $padding-double 0 $padding;
        position: relative;

        &:after {
            background: rgba(250, 250, 250, 1);
            content: ' ';
            height: 2rem;
            position: absolute;
            bottom: $padding;
            left: 0;
            transition: height .3s ease;
            width: 100%;
            z-index: 5;
        }

        dd {

            @media $(l-tablet) {
                transform: translate(0, 0);
                transition: transform .3s ease;
            }

            &:first-child {

                a {

                    &:after {
                        display: none;
                    }

                }

            }

            &:not(:first-child) {
                margin-top: -3rem;
            }

            a {
                background-position: center;
                background-size: cover;
                position: relative;
                display: block;
                padding: $padding-double 0;
                padding-bottom: 5rem;
                position: relative;
                text-decoration: none;
                z-index: 5;

                &:before {
                    background: rgba(0, 0, 10, .65);
                    content: ' ';
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    z-index: 5;
                }

                &:after {
                    @mixin black-trans;
                    content: ' ';
                    height: 50%;
                    pointer-events: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translate(0, -100%);
                    transition: height .3s ease;
                    width: 100%;
                    z-index: 10;
                }

                .container {
                    padding: $padding-double $padding;
                    position: relative;
                    text-align: center;
                    z-index: 15;

                    @media $(p-tablet) {
                        padding: $padding-double $padding;
                    }

                    .date {
                        color: $grey-50;
                        display: block;
                        font-family: $font-roboto;
                        font-size: .7rem;
                        font-weight: 800;
                        margin: $padding-double 0 $padding 0;
                        text-transform: uppercase;
                    }

                    h2 {
                        color: $white;
                        margin: $padding 0 $padding-double 0;
                    }

                }

            }

        }

    }

}

html.no-touchevents {

    .latest-posts {

        dl {

            dd {

                &:hover {
                    transform: translate(0, -2rem);
                    transition: transform .3s ease;
                }

            }

        }

    }

}
