/* =============================================================================

    LOGO SECTION CSS
    Authored by Josh Beveridge

============================================================================= */
.logo-section {

}

[class*="logo-section__icon"] {
    display: none;
    margin: 0 auto;
    padding: 2rem 0;
    width: 10rem;
}

.logo-section__icon--beer {

}

.logo-section__icon--coffee {

}

.logo-section__icon--lemonade {

}

.logo-section__icon--water {

}

body.beer {

    .logo-section__icon--beer {
        display: block;
    }

}

body.coffee {

    .logo-section__icon--coffee {
        display: block;
    }

}

body.lemonade {

    .logo-section__icon--lemonade {
        display: block;
    }

}

body.water {

    .logo-section__icon--water {
        display: block;
    }

}
