/* =============================================================================

    MAIN CONTENT CSS
    Authored by Josh Beveridge

============================================================================= */
.main-content {
    background-position: center;
    background-size: cover;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    width: 100vw;

    &:before {
        background: rgba(0, 0, 0, .75);
        content: " ";
        display: block;
        height: 100%;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }

}

.content-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
        color: $white;
        font-family: $font-roboto;
        font-size: 5rem;
        font-weight: 800;
        line-height: .8;
        margin: 0 0 .5rem 0;

        @media $(p-tablet) {
            font-size: 7rem;
        }

    }

    h3 {
        color: $white;
        font-family: $font-roboto;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1;
        margin: 1rem 0 0 .2rem;

        >br {

            @media $(l-tablet) {
                display: none;
            }

        }

        >a {
            color: $white;
            font-weight: 800;
            text-decoration: none;
            transition: all .2s ease;
        }

    }

}

.no-touchevents {

    .content-wrapper {

        h3 {

            >a:hover {
                color: #FF0855;
                transition: all .2s ease;
            }

        }

    }

}

.social-accounts {
    margin: 2rem 0 0 .2rem;
}

.social-accounts__item {
    display: inline-block;

    a {
        border: .2rem solid $white;
        border-radius: 100%;
        display: inline-block;
        height: 3rem;
        margin: 0 1rem 0 0;
        position: relative;
        transition: all .2s ease;
        width: 3rem;

        i {
            color: $white;
            line-height: 1;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &:before {
                margin: 0;
            }

        }

    }

}

.no-touchevents {

    .social-accounts__item {

        a:hover {
            border: 1px solid #FF0855;
            transition: all .2s ease;
        }

    }

}
