/* =============================================================================

    POST HERO CSS
    Authored by Josh Beveridge

============================================================================= */
.post-hero {
    background-position: center;
    background-size: cover;
    position: relative;

    &:before {
        background: $type-headings;
        content: ' ';
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 5;
    }

    h1 {
        color: $white;
        margin: 0 auto;
        max-width: 85%;
        padding: 5rem 0 5rem;
        position: relative;
        text-align: center;
        width: 15em;
        z-index: 10;

        @media $l-tablet {
            font-size: 4rem;
            padding: 15rem 0 12rem;
        }

    }

}
