/* =============================================================================

    POST HERO CSS
    Authored by Josh Beveridge

============================================================================= */
.post-hero {
    background-position: top center;
    background-size: cover;
    padding: calc($line-height*2) $line-height;
    position: relative;
    text-align: center;

    @media $(p-tablet) {
        padding: calc($line-height*7) calc($line-height*2) calc($line-height*4);
    }

    @media $(desktop) {
        padding: calc($line-height*8) calc($line-height*2) calc($line-height*5);
    }

    &:before {
        background: $type-headings;
        content: ' ';
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 5;
    }

    h2 {
        color: $white;
        font-family: $font-roboto;
        font-size: calc(($font-size*$ratio)*$ratio);
        line-height: calc($line-height*2);
        margin: 0 auto;
        max-width: 85%;
        position: relative;
        text-transform: uppercase;
        width: 45rem;
        z-index: 10;

        @media $(p-tablet) {
            font-size: calc((($font-size*$ratio)*$ratio)*$ratio);
            line-height: calc($line-height*3);
        }

    }

}
