/* =============================================================================

    SEARCH CSS
    Authored by Josh Beveridge

============================================================================= */
.no-result {
    display: none;
    padding: $padding-double;
    width: 100%;

    h3 {
        margin: 0 0 $padding 0;
    }

}
