/* =============================================================================

    SIDEBAR CSS
    Authored by Josh Beveridge

============================================================================= */
.sidebar {
    padding: 0 $padding;

    @media $(p-tablet) {
        padding: 0;
    }

    @media $(l-tablet) {
        padding: 0 $padding 0 $padding-double;
    }

    >dl {
        margin: 0;
        position: relative;

        @media $(p-tablet) {
            margin: 0;
            padding: 0 $padding;
        }

        .label {
            color: $red;
            /*color: $black;*/
            display: block;
            font-family: $font-roboto;
            font-size: .7rem;
            font-weight: 800;
            margin: 0;
            position: absolute;
            top: .8rem;
            right: 0;
            text-decoration: none;
            text-transform: uppercase;

            @media $(p-tablet) {
                right: $padding;
            }

        }

        dd {
            margin: $padding-double 0;

            .date {
                color: $grey;
                display: block;
                font-family: $font-roboto;
                font-size: .6rem;
                font-weight: 800;
                margin: $padding-half 0;
                text-transform: uppercase;

                a {
                    /*color: $red;*/
                    color: $grey;
                    text-decoration: none;
                }

            }

            h5 {
                margin: $padding-half 0;

                a {
                    color: $type;
                    text-decoration: none;
                }

            }

            &:first-of-type {
                border-top: .5rem solid $black;
                margin: $padding-double 0 $padding-double 0;
                padding: $padding-double 0 0 0;
            }

        }

    }

    &.post {
        display: none;

        @media $(l-tablet) {
            display: block;
            margin-left: 6.34%;
            padding: 0 $padding-double 0 0;
            position: fixed;
            width: 12.7%;
        }

        /* Hey, if you need to calculate the position values again, all you have to do is create the layout using the media query below. Once it looks like you want it to, divide the position values by the media query value to get the percentage values for the positioning above. */

        @media screen and (min-width: 78.75em) {
            margin-left: 5rem;
            width: 10rem;
        }

        >dl {
            border-bottom: none;

            @media $(p-tablet) {
                padding: 0;
            }

            .label {
                /*color: $red;*/
                color: $black;
                display: block;
                font-family: $font-roboto;
                font-size: .7rem;
                font-weight: 800;
                margin: 0;
                position: absolute;
                top: 0;
                right: 0;
                text-decoration: none;
                text-transform: uppercase;
                transform: translate(0, -200%);
            }

            dd {
                margin: $padding-double 0;

                h5 {
                    color: $grey;
                    font-size: .8rem;
                    font-weight: 700;
                    margin: 0;
                }

                p {
                    font-size: .8rem;
                    margin: 0;

                    a {
                        display: inline-block;
                        margin: $padding-half $padding 0 0;
                    }

                }

            }

        }

    }

}
