/* =============================================================================

    SPLASH CSS
    Authored by Josh Beveridge

============================================================================= */
html,
body {
    height: 100%;
    width: 100%;
}

.splash {
    background: $red;
    height: 100%;
    position: relative;
    width: 100%;

    h1 {
        color: $white;
        display: block;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        text-transform: uppercase;
        transform: translate(-50%, -50%);

        img {
            margin: -.45rem 0 0 0;
            width: 1.6rem;
            vertical-align: middle;
        }

        span {
            color: $black;
            display: block;
            font-size: 1rem;
        }

    }

}
