/* =============================================================================

    SUBSCRIBE CSS
    Authored by Josh Beveridge

============================================================================= */
.subscribe {

    .featured {

        .center {

            @media $(p-tablet) {
                text-align: left;
            }

            .button {
                font-size: 1rem;
            }

        }

    }

    .social {
        padding: $padding-double 0;

        @media $(p-tablet) {
            padding: $padding-double $padding;
        }

        .button {
            display: block;
            font-size: 1rem;
            margin: 0 0 1rem 0;
            text-align: center;
        }

    }

}
