/* =============================================================================

    SUMMARY CSS
    Authored by Josh Beveridge

============================================================================= */
.summary {
    padding: $padding-double $padding;

    @media $(p-tablet) {
        padding: $padding-double $padding;
    }

    >div {
        border-top: .5rem solid $black;
        position: relative;

        .label {
            color: $red;
            /*color: $black;*/
            display: block;
            font-family: $font-roboto;
            font-size: .7rem;
            font-weight: 800;
            position: absolute;
            top: -1.5rem;
            right: 0;
            text-decoration: none;
            text-transform: uppercase;
            /*transform: translate(0, -200%);*/
        }

        .date {
            color: $grey;
            display: block;
            font-family: $font-roboto;
            font-size: .7rem;
            font-weight: 800;
            margin: $padding 0;
            text-transform: uppercase;
        }

        h1 {
            margin: $padding 0 $padding -.2rem;

            a {
                color: $type;
                text-decoration: none;
            }

            &.author {
                text-align: center;

                @media $(p-tablet) {
                    text-align: left;
                }

            }

        }

        h3 {
            margin: $padding 0 $padding -.05rem;

            a {
                color: $type;
                text-decoration: none;
            }

        }

        p {
            font-size: .8rem;
            margin: $padding 0;
        }

        ul {

            li {
                font-size: .8rem;
            }

        }

        .read-more {
            font-family: $font-pt;
            font-size: .8rem;
            text-decoration: none;

            i {
                font-size: .8rem;
                transform: translate(0, 0);
                transition: transform .3s ease;
            }

            &:hover {

                i {
                    transform: translate(50%, 0);
                    transition: transform .3s ease;
                }

            }

        }

    }

    &.featured {

        >div {

            .date {
                margin: 1.2rem 0 $padding 0;
            }

            h1 {
                font-size: 3rem;
                line-height: 1;
            }

            p {
                font-size: 1rem;
            }

            ul {

                li {
                    font-size: 1rem;
                }

            }

            .read-more {
                font-size: 1rem;
            }

        }

    }

}
