/* =============================================================================

    TITLE CONTENT CSS
    Authored by Josh Beveridge

============================================================================= */
.title-content {
    width: 100%;
}

.title-content__selection-wrapper {
    border-bottom: 1px solid $drink-grey;
    text-align: center;
}

.title-content__select-wrapper {
    position: relative;

    &:after {
        content: "\f123";
        display: inline-block;
        font-family: "Ionicons";
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        line-height: 1;
        position: absolute;
        speak: none;
        text-transform: none;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

}

.title-content__select {
    appearance: none;
    border: none;
    color: $drink-black;
    display: inline-block;
    font-family: $font-gibson;
    /*font-size: calc(((($font-size*$ratio)*$ratio)*$ratio)*$ratio);*/
    font-weight: 300;
    /*line-height: calc($line-height*4);*/
    margin: 0;
    padding: 0;
}

.title-content__content-wrapper {
    display: none;

    &.active {
        display: block;
    }

}
