<section class="follow">

    <div class="container flex-grid">

        <div class="box lg-1of3 block-summary block-social">
            <div>
                <span class="meta">
                    <span class="tag">Follow Along</span>
                </span>
                <a href="//twitter.com/joshdrink" title="Josh on Twitter" target="_blank" class="button"><i class="fa fa-twitter"></i> Twitter</a>
                <a href="//github.com/joshdrink" title="Josh on Github" target="_blank" class="button"><i class="fa fa-github-alt"></i> Github</a>
                <a href="//ca.linkedin.com/in/joshdrink" title="Josh on Linkedin" target="_blank" class="button"><i class="fa fa-linkedin"></i> Linkedin</a>
            </div>
        </div>

        <div class="box lg-2of3 block-summary">
            <div>
                <span class="meta">
                    <span class="tag">Provide Feedback</span>
                </span>
                <h4>Have a Suggestion?</h4>
                <p>This site is built with the intention of creating a <strong>premier reading experience</strong>. If you have feedback on how this experience might be improved, I would love to hear from you. The following link will take you to a custom survey that asks about the typography on this site and how it might be improved. I appreciate all answers and your feedback will be considered in future iterations of the site.</p>
                <a href="http://goo.gl/forms/mOnrnP81g7" title="Typography Feedback" target="_blank" class="read-more">Submit Feedback <i class="fa fa-angle-double-right"></i></a>
            </div>
        </div>

    </div>

</section>
