<!-- Site Header =========================================================== -->
<header>

    <div class='content-container'>

        <nav class='mobile'>
            <div class='open'>
                <h1>Navigate</h1>
                <p>Viewing: {{ page.title }}<p>
            </div>
            <div class='wrapper'>
                <div class='nav-list'>

                    <!-- Assign sorted_pages variable so that the menu is sorted by the "Order" item in the Front Matter. -->
                    {% assign sorted_pages = site.pages | sort:"order" %}

                    <!-- Start the array loop. -->
                    {% for my_page in sorted_pages %}

                        <!-- Check to see if the Front Matter contains the "Exclude" value. This hides pages that exist but shouldn't be in the main navigation. -->
                        {% if my_page.exclude == null %}

                            <!-- Check to see if the array item's URL matches the user's URL, and if it does, output a navigation item with the "active" class. -->
                            {% if page.url == my_page.url %}
                                <a class="nav-item active" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                            <!-- If there is no exact match, we have to check for Writing subpages that contain "writing" in the URL. -->
                            {% else %}
                                <!-- Check to see if the user's URL contains "writing". -->
                                {% if page.url contains "writing" %}
                                    <!-- The user is on a Writing page, so now we check to see if the array item's URL also contains "writing". This will output an "active" class item if both conditions are met. -->
                                    {% if my_page.url contains "writing" %}
                                        <a class="nav-item active" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                                    <!-- If the user is on a Writing page but the array item isn't a Writing item, it is output as an inactive item. -->
                                    {% else %}
                                        <a class="nav-item" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                                    {% endif %}
                                <!-- This else handles all pages that are not writing related. -->
                                {% else %}
                                    <a class="nav-item" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                                {% endif %}
                            {% endif %}

                        {% endif %}

                    {% endfor %}

                    <a class="nav-item close" href="#">Close<i class='fa fa-times'></i></a>

                </div>
            </div>
        </nav>

        <nav class='desktop'>

            <!-- NOTE: THIS WAS PASTED FROM ABOVE -->

            <!-- Assign sorted_pages variable so that the menu is sorted by the "Order" item in the Front Matter. -->
            {% assign sorted_pages = site.pages | sort:"order" %}

            <!-- Start the array loop. -->
            {% for my_page in sorted_pages %}

                <!-- Check to see if the Front Matter contains the "Exclude" value. This hides pages that exist but shouldn't be in the main navigation. -->
                {% if my_page.exclude == null %}

                    <!-- Check to see if the array item's URL matches the user's URL, and if it does, output a navigation item with the "active" class. -->
                    {% if page.url == my_page.url %}
                        <a class="nav-item active" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                    <!-- If there is no exact match, we have to check for Writing subpages that contain "writing" in the URL. -->
                    {% else %}
                        <!-- Check to see if the user's URL contains "writing". -->
                        {% if page.url contains "writing" %}
                            <!-- The user is on a Writing page, so now we check to see if the array item's URL also contains "writing". This will output an "active" class item if both conditions are met. -->
                            {% if my_page.url contains "writing" %}
                                <a class="nav-item active" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                            <!-- If the user is on a Writing page but the array item isn't a Writing item, it is output as an inactive item. -->
                            {% else %}
                                <a class="nav-item" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                            {% endif %}
                        <!-- This else handles all pages that are not writing related. -->
                        {% else %}
                            <a class="nav-item" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                        {% endif %}
                    {% endif %}

                {% endif %}

            {% endfor %}

        </nav>

    </div>

</header>

<!-- <header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <svg viewBox="0 0 18 15">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </a>

      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header> -->
