<!-- Site Header =========================================================== -->
<header>

    <div class='content-container'>

        <nav class='mobile'>
            <div class='open'>
                <h1>Navigate the Site</h1>
                <p>Viewing: {{ page.title }}<p>
            </div>
            <div class='wrapper'>
                <div class='nav-list'>

                    <!-- Assign sorted_pages variable so that the menu is sorted by the "Order" item in the Front Matter. -->
                    {% assign sorted_pages = site.pages | sort:"order" %}

                    <!-- Start the array loop. -->
                    {% for my_page in sorted_pages %}

                        <!-- Check to see if the Front Matter contains the "Exclude" value. This hides pages that exist but shouldn't be in the main navigation. -->
                        {% if my_page.exclude == null %}

                            <!-- Check to see if the array item's URL matches the user's URL, and if it does, output a navigation item with the "active" class. -->
                            {% if page.url == my_page.url %}
                                <a class="nav-item active" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                            {% else %}
                                <a class="nav-item" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                            {% endif %}

                        {% endif %}

                    {% endfor %}

                    <a class="nav-item close" href="#">Close<i class='fa fa-times'></i></a>

                </div>
            </div>
        </nav>

        <nav class='desktop'>

            <!-- NOTE: THIS WAS PASTED FROM ABOVE -->

            <!-- Assign sorted_pages variable so that the menu is sorted by the "Order" item in the Front Matter. -->
            {% assign sorted_pages = site.pages | sort:"order" %}

            <!-- Start the array loop. -->
            {% for my_page in sorted_pages %}

                <!-- Check to see if the Front Matter contains the "Exclude" value. This hides pages that exist but shouldn't be in the main navigation. -->
                {% if my_page.exclude == null %}

                    <!-- Check to see if the array item's URL matches the user's URL, and if it does, output a navigation item with the "active" class. -->
                    {% if page.url == my_page.url %}
                        <a class="nav-item active" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                    {% else %}
                        <a class="nav-item" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                    {% endif %}

                {% endif %}

            {% endfor %}

        </nav>

    </div>

</header>
