<!-- Site Header =========================================================== -->
<header>

    <div class='content-container'>

        <nav class='mobile'>
            <div class='open'>
                <h1>Navigate the Site</h1>
                <p>Viewing: {{ page.title }}<p>
            </div>
            <div class='wrapper'>
                <div class='nav-list'>

                    {% assign sorted_pages = site.pages | sort:"order" %}

                    {% for my_page in sorted_pages %}

                        {% if my_page.exclude == null %}

                            {% if page.url == my_page.url %}

                                <a class="nav-item active" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>

                            {% else %}

                                {% if page.url contains "design" %}

                                    {% if my_page.url contains "design" %}

                                        <a class="nav-item active" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>

                                    {% elsif post.tags contains "design" %}

                                        <a class="nav-item active" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>

                                    {% else %}

                                        <a class="nav-item" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>

                                    {% endif %}

                                {% elsif page.url contains "gaming" %}

                                    {% if my_page.url contains "gaming" %}

                                        <a class="nav-item active" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>

                                    {% elsif post.tags contains "gaming" %}

                                        <a class="nav-item active" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>

                                    {% else %}

                                        <a class="nav-item" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>

                                    {% endif %}

                                {% elsif page.url contains "comics" %}

                                    {% if my_page.url contains "comics" %}

                                        <a class="nav-item active" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>

                                    {% elsif post.tags contains "comics" %}

                                        <a class="nav-item active" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>

                                    {% else %}

                                        <a class="nav-item" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>

                                    {% endif %}

                                {% else %}
                                    <a class="nav-item" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                                {% endif %}

                            {% endif %}

                        {% endif %}

                    {% endfor %}

                    <a class="nav-item close" href="#">Close<i class='fa fa-times'></i></a>

                </div>
            </div>
        </nav>

        <nav class='desktop'>

            {% assign sorted_pages = site.pages | sort:"order" %}

            {% for my_page in sorted_pages %}

                {% if my_page.exclude == null %}

                    {% if page.url == my_page.url %}

                        <a class="nav-item active" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>

                    {% else %}

                        {% if page.url contains "design" %}

                            {% if my_page.url contains "design" %}

                                <a class="nav-item active" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>

                            {% elsif post.tags contains "design" %}

                                <a class="nav-item active" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>

                            {% else %}

                                <a class="nav-item" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>

                            {% endif %}

                        {% elsif page.url contains "gaming" %}

                            {% if my_page.url contains "gaming" %}

                                <a class="nav-item active" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>

                            {% elsif post.tags contains "gaming" %}

                                <a class="nav-item active" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>

                            {% else %}

                                <a class="nav-item" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>

                            {% endif %}

                        {% elsif page.url contains "comics" %}

                            {% if my_page.url contains "comics" %}

                                <a class="nav-item active" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>

                            {% elsif post.tags contains "comics" %}

                                <a class="nav-item active" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>

                            {% else %}

                                <a class="nav-item" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>

                            {% endif %}

                        {% else %}
                            <a class="nav-item" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                        {% endif %}

                    {% endif %}

                {% endif %}

            {% endfor %}

        </nav>

    </div>

</header>
