<section class="latest-posts">

    <dl>

        {% for post in site.categories.writing limit:5 %}

            <dd>

                {% if post.images[0].url == null %}
                    <a href="{{post.url}}" title="{{ post.title }}" alt="{{ post.title }}" style="background-image: url('/assets/img/temp.jpg')">
                {% else %}
                    <a href="{{post.url}}" title="{{ post.title }}" alt="{{ post.title }}" style="background-image: url('{{ post.images[0].url }}')">
                {% endif %}

                    <div class="container">

                        <span class="date">
                            {% if post.categories contains "design" %}
                                In Design
                            {% endif %}
                            {% if post.categories contains "gaming" %}
                                In Gaming
                            {% endif %}
                            {% if post.categories contains "comics" %}
                                In Comics
                            {% endif %}
                            &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;{{ post.date | date: '%A, %B %d, %Y' }}</span>
                        <h2>{{ post.title }}</h2>

                    </div>

                </a>

            </dd>

        {% endfor %}

    </dl>

</section>
