<!-- Latest Posts ========================================================== -->
<section class='latest-posts'>

    <div class='row'>

        {% for post in site.categories.writing limit:4 %}
            <div class='column large-5 post'>
                <a href='{{post.url}}'>
                    <p class='date red'>{{ post.date | date: '%B %d, %Y' }}</p>
                    <h1>{{ post.title }}</h1>
                    <div class='excerpt'>{{ post.excerpt }}</div>
                </a>
            </div>
        {% endfor %}

    </div>

</section>
