<!-- Latest Posts ========================================================== -->
<section class='latest-posts'>

    <div class='row'>

        {% for post in site.categories.writing limit:4 %}
            <div class='column large-5 post'>
                <a href='{{post.url}}'>
                    <p class='date red'>
                        {{ post.date | date: '%B %d, %Y' }}
                        {% if post.tags contains "design" %}
                            <span class='tag'><i>|</i>Design</span>
                        {% endif %}
                        {% if post.tags contains "gaming" %}
                            <span class='tag'><i>|</i>Gaming</span>
                        {% endif %}
                        {% if post.tags contains "comics" %}
                            <span class='tag'><i>|</i>Comics</span>
                        {% endif %}
                    </p>
                    <h4>{{ post.title }}</h4>
                    <div class='excerpt'>{{ post.excerpt }}</div>
                </a>
            </div>
        {% endfor %}

    </div>

</section>
