<header class="post__header" style="background-image: url('{{ img }}')">

    <div class="core__container--content">

        <span class="post__meta">{{ page.date | date: '%B %d, %Y' }}   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;~ {{ page.time }} Minute Read</span>
        <h1 class="post__title">{{ page.title }}</h1>
        <a href="#read" title="Read {{ page.title }}." class="post__trigger">Start Reading</a>

    </div>

    <span class="post__photo-credit">Photo by <a href="https://unsplash.com/@marcojodoin" title="See more photos by Marc-Olivier." target="_blank">Marc-Olivier Jodoin</a>.</span>

</header>
