/* =============================================================================

    JOSHDRINK: HOME
    SPEC - PALETTE

============================================================================= */

$palette--pink: rgba(255, 0, 119, 1);
$palette--pink--transparent: rgba(255, 0, 119, .85);

$palette--blue: rgba(50, 50, 65, 1);
