<section class="about-grid">

    <div class="profile">

        <div class="profile__wrapper">

            <img src="/img/profile.jpg" alt="Josh's face." class="profile__image">

            <h3 class="profile__title">Josh Beveridge</h3>

            <!-- <h5 class="profile__status">Status: Available for contract or full-time work.</h5> -->

            <p class="profile__subtitle"><span>💼</span> Technical Adviser @ <a href="#work" title="Learn more about Talent Cloud.">Talent Cloud</a></p>

            <hr>

            <p class="profile__subtitle"><span>🍁</span> Canadian</p>

            <p class="profile__subtitle"><span>💎</span> Designer</p>

            <p class="profile__subtitle"><span>💻</span> Developer</p>

            <p class="profile__subtitle"><span>⚔️</span> Gamer</p>

        </div>

    </div>

    <a id="about"></a>

    <div class="about">

        <div class="about__wrapper core__content">

            <div class="content__center">

                <h3>Problems &amp; Pixels</h3>

            </div>

            <span class="tag">Let's build something.</span>

            <p>My name is Josh. I’m a designer who specializes in user experience and digital product design. Solving problems gets me out of bed every morning.</p>

            <!-- <div class="about__alert">
                <p><strong>Are you a socially responsible non-profit?</strong></p>
                <p class="about__alert-contact">2018 marks the beginning of an awesome iniative inspired by my friend <a href="https://twitter.com/ThePeoplesDez" title="Check out Josh Udall's Twitter." target="_blank">Josh Udall</a> in which I’m donating time to help elevate user experience in non-profit organizations. If you're a non-profit or know of someone who could use a hand, please

                    <script type="text/javascript">
                        $(".about__alert-contact").append("<a id='aboutAlertTrigger' href='#' title='Copy Josh&#39;s email.' class='tagAboutAlertContactJS'>get in touch<div class='about__alert-contact-tag'>Email copied!</div></a>.");
                    </script>

                    <noscript>
                        <a href="mailto:hello@joshbeveridge.ca" title="Get in touch with Josh." class="tagAboutAlertNoJS">get in touch</a>.
                    </noscript>

                </p>
            </div> -->

            <p>My <a href="#skills" title="See how Josh can help.">skills</a> range from startup consultation to front-end development. What I do really boils down to helping awesome people solve awesome problems.</p>

            <p>Trust and honesty are very important in my work. If we're not a good fit, I'll point you in the right direction. If we hit a wall, we'll find the right person to get you through it. Curious about what I do? Want to learn more? <strong>Let's be friends.</strong></p>

            <div class="core__button-wrapper">

                <script type="text/javascript">
                    $(".core__button-wrapper").append("<a id='ctaTrigger' href='#' title='Copy Josh&#39;s email.' class='core__button tagAboutContactJS'>Start a Conversation<div class='core__button-tag'>Email copied!</div></a>");
                </script>

                <noscript>
                    <a href="mailto:hello@joshbeveridge.ca" title="Get in touch with Josh." class="core__button tagAboutContactNoJS">Start a Conversation</a>
                </noscript>

            </div>

        </div>

    </div>

</section>
