<section class="about-grid">

    <div class="profile">

        <div class="profile__wrapper">

            <img src="/img/profile.jpg" alt="Josh's face." class="profile__image">

            <h3 class="profile__title">Josh Beveridge</h3>

            <!-- <h5 class="profile__status">Status: Available for contract or full-time work.</h5> -->

            <p class="profile__subtitle"><span>💼</span> Available for Hire</p>

            <hr>

            <p class="profile__subtitle"><span>🍁</span> Canadian</p>

            <p class="profile__subtitle"><span>💎</span> Experience Designer</p>

            <p class="profile__subtitle"><span>🛡</span> Paladin</p>

            <p class="profile__subtitle"><span>☀️</span> Superman Fan</p>

            <p class="profile__subtitle"><span>❤️</span> Positivity Junkie</p>

        </div>

    </div>

    <a id="about"></a>

    <div class="about">

        <div class="about__wrapper core__content">

            <div class="content__center">

                <h3>I'm here to help.</h3>

            </div>

            <span class="tag">My passion is problems.</span>

            <p>My name is Josh. I’m a designer who specializes in user experience and digital prototyping. I like to help people.</p>

            <div class="about__alert">
                <p><strong>Are you a socially responsible non-profit?</strong></p>
                <p class="about__alert-contact">2018 marks the beginning of an awesome iniative inspired by my friend <a href="https://twitter.com/ThePeoplesDez" title="Check out Josh Udall's Twitter." target="_blank">Josh Udall</a> in which I’m donating time to help elevate user experience in non-profit organizations. If you're a non-profit or know of someone who could use a hand, please

                    <script type="text/javascript">
                        $(".about__alert-contact").append("<a id='aboutAlertTrigger' href='#' title='Copy Josh&#39;s email.' class='tagAboutAlertContactJS'>get in touch<div class='about__alert-contact-tag'>Email copied!</div></a>.");
                    </script>

                    <noscript>
                        <a href="mailto:imjoshdrink@gmail.com" title="Get in touch with Josh." class="tagAboutAlertNoJS">get in touch</a>.
                    </noscript>

                </p>
            </div>

            <p>My <a href="#skills" title="See how Josh can help.">skills</a> range from startup consultation to front-end development, but at the end of the day, I love to spend time getting to know other people’s problems.</p>

            <p>I prefer to take on work that reflects my values:</p>

            <ul>
                <li>Fresh Perspective</li>
                <li>Humanity & Respect</li>
                <li>Thorough Research</li>
                <li>Social Responsibility</li>
                <li>Design Thinking</li>
                <li>Community Engagement</li>
            </ul>

            <p>I work on a platform built on honesty and transparency. If we're not a good fit, I'll point you in the right direction. If we hit a wall, we'll find the right person to get you through it. Have I piqued your interest? Curious about what I do? Do I sound totally crazy? <strong>Let's be friends.</strong></p>

            <div class="core__button-wrapper">

                <script type="text/javascript">
                    $(".core__button-wrapper").append("<a id='ctaTrigger' href='#' title='Copy Josh&#39;s email.' class='core__button tagAboutContactJS'>Start a Conversation<div class='core__button-tag'>Email copied!</div></a>");
                </script>

                <noscript>
                    <a href="mailto:imjoshdrink@gmail.com" title="Get in touch with Josh." class="core__button tagAboutContactNoJS">Start a Conversation</a>
                </noscript>

            </div>

        </div>

    </div>

</section>
