/* =============================================================================

    SETTINGS CSS
    Authored by Josh Beveridge

============================================================================= */

/* Media Variables ========================================================== */
$portrait: screen and (orientation: portrait);
/*$(portrait) {}*/

$landscape: screen and (orientation: landscape);
/*$(landscape) {}*/

$p-tablet: screen and (min-width: 48em);
/*$(p-tablet) {}*/

$l-tablet: screen and (min-width: 64em);
/*$(l-tablet) {}*/

$desktop: screen and (min-width: 64.01em);
/*$(desktop) {}*/

$cinema: screen and (min-width: 100em);
/*$(cinema) {}*/

/* Padding Variables ======================================================== */
$padding: 1rem;
$padding-half: calc($padding/2);
$padding-double: calc($padding*2);

/* Sections ================================================================= */
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    background: rgba(250, 250, 250, 1);
    margin: 0;
}

.main {

    @media $(p-tablet) {
        margin-top: 1rem;
    }

    @media $(l-tablet) {
        margin-top: 5rem;
    }

    &.post {
        margin-top: 0;
    }

}

section {
    display: block;
    margin: 0;
    position: relative;
    width: 100%;
}

.container {
    display: block;
    margin: 0 auto;
    max-width: 95%;
    width: 60em;
}

.post-container {
    display: block;
    margin: 0 auto;
    max-width: 95%;
    width: 75em;
}

.copy-container {
    display: block;
    margin: 0 auto;
    max-width: 95%;
    padding: 0 0 5rem 0;
    width: 95%; /* The Flex Grid class on this was messing with the width if I set it to rems. Not sure why. */

    @media $(p-tablet) {
        width: 40em;
    }

    @media $(l-tablet) {
        margin: 0;
    }

    *:last-child {
        margin-bottom: 0;
    }

}

img,
iframe {
    max-width: 100%;
}
