/* =============================================================================

    TYPOGRAPHY CSS
    Authored by Josh Beveridge

============================================================================= */

/* Google Fonts ============================================================= */
$font-roboto: 'Roboto', sans-serif;
$font-pt: 'PT Serif', serif;

/* Typekit Fonts ============================================================ */

/* Custom Fonts ============================================================= */

/* Typography Scale ========================================================= */
html,
body {
    font-size: 12pt;
}

@media $(p-tablet) {

    html,
    body {
        font-size: 14pt;
    }

}

@media $(desktop) {

    html,
    body {
        font-size: 14pt;
    }

}

@media $(cinema) {

    html,
    body {
        font-size: 16pt;
    }

}

/* Selection ================================================================ */
::selection {
    background: $black;
    color: $white;
}

/* Headings ================================================================= */
h1 {font-size: 2.25rem;}
h2 {font-size: 2rem;}
h3 {font-size: 1.5rem;}
h4 {font-size: 1.35rem;}
h5 {font-size: 1.175rem;}
h6 {font-size: 1rem;}

h1, h2, h3, h4, h5, h6 {
    color: $type;
    font-family: $font-roboto;
    font-weight: 100;
    letter-spacing: .2rem;
    margin: 2.5rem 0 1rem 0;
    text-transform: uppercase;

    @media $(l-tablet) {
        margin: 2.5rem 0 1rem -2.5rem;
    }

    &+p {
        margin: 1rem 0 1.5rem 0;
    }

    &.reset {
        margin: 2.5rem 0 1rem 0;
    }

}

/* Copy ===================================================================== */

/* Body Font */
p,
blockquote {
    color: $type;
    line-height: 1.5;
    font-family: $font-pt;
    margin: 1.5rem 0;
}

p {

}

strong {

}

em {

}

span {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

hr {
    border: none;
    border-top: 1px solid $black;
    height: 0;
    margin: 2.5rem 0;
    padding: 0;
    width: 100%;
}

blockquote {
    border-left: .5rem solid $red;
    margin: 0;
    padding: 0 0 0 2rem;

    @media $(l-tablet) {
        margin: 0 0 0 -2.5rem;
    }

    p {
        font-style: italic;
        margin: 1.5rem 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

    }

}

/* Anchors */
a,
a:visited,
a:link {
    color: $red;
    transition: color .1s ease;

    &:hover {

        @media $(desktop) {
            color: rgba(0, 0, 0, .5);
            transition: color .1s ease;
        }

    }

}

/* Buttons ================================================================== */
.button,
.button:focus,
.button:active,
.button:link,
.button:visited,
input[type='submit'] {

}

button {
    border: none;
    box-shadow: none;
    outline: none;
}

pre {
    background: $grey;
    border-radius: .2rem;
    margin: 1.5rem 0;
    overflow-x: scroll;
    padding: .5rem .8rem;
    width: 100%;

    code {
        padding: 0;
    }

}

code {
    background: $grey;
    border-radius: .2rem;
    font-size: .8rem;
    padding: .2rem .4rem .1rem .4rem;
}

/* Inputs =================================================================== */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input {
    background: none;
    border: 1px solid $black;
    box-shadow: none;
    font-family: $font-roboto;
    font-size: 1rem;
    margin: .5rem 0 1.5rem 0;
    padding: 1rem;
    width: 100%;
}

/* Lists ==================================================================== */
ul {
    margin: 1rem 0 1rem 1rem;
    padding: 0;

    li {
        line-height: 1.5;
    }

}

dl {
    margin: 0;
    padding: 0;

    dt {
        display: none;
    }

    dd {
        margin: 0;
        padding: 0;
    }

}

/* Tables =================================================================== */
table {
    width: 100%;
}
