/* =============================================================================

    TYPOGRAPHY CSS
    Authored by Josh Beveridge

============================================================================= */

/* Google Fonts ============================================================= */
$font-open: 'Open Sans', sans-serif;
$font-pt: 'PT Serif', serif;

/* Custom Fonts ============================================================= */

/* Font Standard ============================================================ */
html,
body {
    font-size: 100%;

    @media $(cinema) {
        font-size: 120%;
    }

}

/* Sitewide Typography ====================================================== */
::selection {
    background: $black;
    color: $white;
}

$font-white: rgba(255, 255, 255, .95);
$font-black: rgba(0, 0, 0, .85);

$font-scale-small: 0.707rem;
$font-scale-regular: 1rem;
