/* =============================================================================

    TYPOGRAPHY CSS
    Authored by Josh Beveridge

============================================================================= */

/* Google Fonts ============================================================= */
$font-pt: "PT Serif", serif;

/* Typekit Fonts ============================================================ */
$font-gibson: "canada-type-gibson", sans-serif;

/* Sitewide Typography ====================================================== */
html,
body {
    font-size: 100%;
}

::selection {
    background: black;
    color: white;
}

$min-ratio: 1.125;
$mid-ratio: 1.25;
$max-ratio: 1.414;
$font-size: 1rem;
$heading-line-height: 1.2;
$copy-line-height: 1.45;

/* Headings ================================================================= */
[class*="heading--"] {
    color: $drink-black;
    font-family: $font-gibson;
    font-weight: 600;
    line-height: 1;
    margin: 0;

    span {
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        margin: 0;
    }

    a {
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        margin: 0;
        text-decoration: underline;
    }

}

.heading--01 {
    font-size: calc(((($font-size*$min-ratio)*$min-ratio)*$min-ratio)*$min-ratio);

    @media $(p-tablet) {
        font-size: calc(((($font-size*$mid-ratio)*$mid-ratio)*$mid-ratio)*$mid-ratio);
    }

    @media $(desktop) {
        font-size: calc(((($font-size*$max-ratio)*$max-ratio)*$max-ratio)*$max-ratio);
    }

}

.heading--02 {
    font-size: calc((($font-size*$min-ratio)*$min-ratio)*$min-ratio);

    @media $(p-tablet) {
        font-size: calc((($font-size*$mid-ratio)*$mid-ratio)*$mid-ratio);
    }

    @media $(desktop) {
        font-size: calc((($font-size*$max-ratio)*$max-ratio)*$max-ratio);
    }

}

.heading--03 {
    font-size: calc(($font-size*$min-ratio)*$min-ratio);

    @media $(p-tablet) {
        font-size: calc(($font-size*$mid-ratio)*$mid-ratio);
    }

    @media $(desktop) {
        font-size: calc(($font-size*$max-ratio)*$max-ratio);
    }

}

.heading--04 {
    font-size: calc($font-size*$min-ratio);

    @media $(p-tablet) {
        font-size: calc($font-size*$mid-ratio);
    }

    @media $(desktop) {
        font-size: calc($font-size*$max-ratio);
    }

}
