/* =============================================================================

    JOSHDRINK: HOME
    COMPONENTS - FLOURISH

============================================================================= */
.flourish {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3.5fr 1fr .5fr;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    position: fixed;
    width: 100vw;
    z-index: 5;
}

.flourish__item {
    opacity: .5;
}

.flourish__colour {
    background: rgb(255,0,102);
    background: -moz-linear-gradient(left, rgba(255,0,102,1) 0%, rgba(255,178,0,1) 100%);
    background: -webkit-linear-gradient(left, rgba(255,0,102,1) 0%,rgba(255,178,0,1) 100%);
    background: linear-gradient(to right, rgba(255,0,102,1) 0%,rgba(255,178,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0066', endColorstr='#ffb200',GradientType=1 );
    height: 100%;
    width: 100%;
}
