---
layout: default
---

<!-- Archive =============================================================== -->
<section class="hero sub" style="background-image: url('/assets/img/gw001.jpg');"></section>

<section class="main archive">

    <dl class='container article-list flex-grid'>
        <dt></dt>

        <div class="container hero-block">

            <div class="card">
                <h1 class="center">Posts in
                    {% if page.url contains "design" %}
                        Design
                    {% endif %}
                    {% if page.url contains "gaming" %}
                        Gaming
                    {% endif %}
                    {% if page.url contains "comics" %}
                        Comics
                    {% endif %}
                </h1>
                {% if page.url contains "design" %}
                    <p>As a designer by profession, I use writing to elaborate on ideas or concepts that peak my interest. This archive doesn't follow any particular schedule, but aims to help explain and propagate ideas about design that I come across in my day-to-day work. If you have particular topics that you'd like to discuss, I invite you to get in touch through <a href="//twitter.com/joshdrink" target='_blank'>Twitter</a>, as I'm always looking to learn something new.</p>
                {% endif %}
                {% if page.url contains "gaming" %}
                    <p>Video games have had such a tremendous impact on my generation, and I've grown to accept that they will forever be a part of my life. Gaming is a unique experience that has grown from humble beginnings into a powerful storytelling platform. When a game strikes my fancy, I like to share my thoughts in an attempt to help you find something extraordinary too.</p>
                    <ul>
                        <span>I'm currently playing:</span>
                        <li>Dark Souls III</li>
                        <li>Guild Wars 2</li>
                        <li>Stardew Valley</li>
                    </ul>
                {% endif %}
                {% if page.url contains "comics" %}
                    <p>You can find reviews and commentary on some of my favourite series here. I do my best to publish reviews the week of the book's release, so check back soon if you don't see the review you're looking for. If there is a series you think I'd enjoy, I'd love to hear from you! <a href="//twitter.com/joshdrink" target='_blank'>Send me a tweet with your suggestions!</a></p>
                    <div class="flex-grid">
                        <ul class="box med-1of2">
                            <span>My current lineup includes:</span>
                            <li><a href="http://www.comics.org/series/59922/" target="_blank">Action Comics</a></li>
                            <li><a href="http://www.comics.org/series/94488/" target="_blank">Dark Knight III - The Master Race</a></li>
                            <li><a href="http://www.comics.org/series/100118/" target="_blank">Dark Souls</a></li>
                            <li><a href="http://www.comics.org/series/90250/" target="_blank">Doctor Fate</a></li>
                            <li><a href="http://www.comics.org/series/99285/" target="_blank">Poe Dameron</a></li>
                        </ul>
                        <ul class="box med-1of2">
                            <span>&nbsp;</span>
                            <li><a href="http://www.comics.org/series/59921/" target="_blank">Superman</a></li>
                            <li><a href="http://www.comics.org/series/93778/" target="_blank">Superman - American Alien</a></li>
                            <li><a href="http://www.comics.org/series/93064/" target="_blank">Superman - Lois &amp; Clark</a></li>
                            <li><a href="http://www.comics.org/series/93867/" target="_blank">The Goddamned</a></li>
                        </ul>
                    </div>
                {% endif %}
                {% if page.url contains "design" %}
                    {% if site.categories.design == null %}
                        <!-- Show Nothing -->
                    {% else %}
                        <div>
                            <label for="writingFilter"><i class="fa fa-search"></i>Search in design...</label>
                            <input id='writingFilter' type='text'>
                        </div>
                    {% endif %}
                {% endif %}

                {% if page.url contains "gaming" %}
                    {% if site.categories.gaming == null %}
                        <!-- Show Nothing -->
                    {% else %}
                        <div>
                            <label for="writingFilter"><i class="fa fa-search"></i>Search in gaming...</label>
                            <input id='writingFilter' type='text'>
                        </div>
                    {% endif %}
                {% endif %}

                {% if page.url contains "comics" %}
                    {% if site.categories.comics == null %}
                        <!-- Show Nothing -->
                    {% else %}
                        <div>
                            <label for="writingFilter"><i class="fa fa-search"></i>Search in comics...</label>
                            <input id='writingFilter' type='text'>
                        </div>
                    {% endif %}
                {% endif %}
            </div>

        </div>

        {% if page.url contains "design" %}
            {% if site.categories.design == null %}
                <h3 class='tbd'>Check back soon!</h3>
            {% else %}
                {% for post in site.categories.design %}
                    <dd class='box med-1of2 lg-1of3 summary'>
                        <div>
                            <a href="/writing/design/" class="label">In Design</a>
                            <span class="date">{{ post.date | date: '%A, %B %d, %Y' }}</span>
                            <h3>
                                <a href='{{post.url}}'>{{ post.title }}</a>
                            </h3>
                            <p>{{ post.excerpt }}</p>
                            <a href="{{post.url}}" class="read-more">Read More <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </dd>
                {% endfor %}
            {% endif %}
        {% endif %}

        {% if page.url contains "gaming" %}
            {% if site.categories.gaming == null %}
                <h3 class='tbd'>Check back soon!</h3>
            {% else %}
                {% for post in site.categories.gaming %}
                    <dd class='box med-1of2 lg-1of3 summary'>
                        <div>
                            <a href="/writing/gaming/" class="label">In Gaming</a>
                            <span class="date">{{ post.date | date: '%A, %B %d, %Y' }}</span>
                            <h3>
                                <a href='{{post.url}}'>{{ post.title }}</a>
                            </h3>
                            <p>{{ post.excerpt }}</p>
                            <a href="{{post.url}}" class="read-more">Read More <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </dd>
                {% endfor %}
            {% endif %}
        {% endif %}

        {% if page.url contains "comics" %}
            {% if site.categories.comics == null %}
                <h3 class='tbd'>Check back soon!</h3>
            {% else %}
                {% for post in site.categories.comics %}
                    <dd class='box med-1of2 lg-1of3 summary'>
                        <div>
                            <a href="/writing/comics/" class="label">In Comics</a>
                            <span class="date">{{ post.date | date: '%A, %B %d, %Y' }}</span>
                            <h3>
                                <a href='{{post.url}}'>{{ post.title }}</a>
                            </h3>
                            <p>{{ post.excerpt }}</p>
                            <a href="{{post.url}}" class="read-more">Read More <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </dd>
                {% endfor %}
            {% endif %}
        {% endif %}

        <dd class='no-result box full'>
            <h3>Sorry, try a different term.</h3>
            <p>Oops! It seems that you're searching for an article that doesn't exist! Give it another go, or check out the latest posts column for something new!</p>
        </dd>

    </dl>

</section>
