<!DOCTYPE html>
<html>

    {% include head_ffxiv.html %}

        <!-- jQuery -->
        <script type="text/javascript" src="{{ "/assets/vendor/jquery.min.js" | prepend: site.baseurl }}"></script>

        <!-- Modernizr -->
        <script type="text/javascript" src="{{ "/assets/vendor/modernizr.js" | prepend: site.baseurl }}"></script>

        <!-- Ionicons -->
        <link rel="stylesheet" href="{{ "/assets/vendor/ionicons.min.css" | prepend: site.baseurl }}" type="text/css" media="all" />

        <!-- Normalize -->
        <link rel="stylesheet" href="{{ "/assets/vendor/normalize.css" | prepend: site.baseurl }}" type="text/css" media="all" />

        <!-- Custom Stylesheet -->
        <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">

    </head>

    <body>

        <section class="guide-index__hero" style="background-image: url('{{ "/assets/img/ffxiv/guide_index.png" | prepend: site.baseurl }}')">

            <div class="guide-index__hero-overlay"></div>

            <div class="content-container">

                <h1 class="heading--01 guide-index__title">FFXIV Pocket Guide</h1>

                <p class="guide-index__intro">A collection of mobile friendly guides to help players navigate raid content in Final Fantasy XIV. All guide content has been transcribed from the extremely helpful video guides produced by MTQCapture.</p>

                <a href="https://www.youtube.com/channel/UC5BtIO_vMNvds5sgE-JI6KA" title="Visit MTQCapture's YouTube channel." target="_blank" class="button--small--white guide-index__hero-button">Go to MTQCapture's Channel</a>

            </div>

        </section>

        <section class="guide-index__list">

            <div class="page-container">

                <div class="flex-grid">

                    <form class="guide-index__search-form">
                        <label for="guideFilter">Search for a raid guide...</label>
                        <input id="guideFilter" type="text" placeholder="Ifrit Ex...">
                    </form>

                    {% for guide in site.ffxiv_guides %}

                        <div class="box med-1of2 lg-1of3 guide-index__list-item">

                            <a href="{{ guide.url }}" title="Go to the {{ guide.title}} Guide" class="guide-index__list-item-link" style="background-image: url('{% for image in guide.image %}{{ image.url }}{% endfor %}')">

                                <div class="guide-index__list-item-overlay"></div>

                                <h3 class="heading--03 guide-index__list-item-title">{{ guide.title }}</h3>

                                <h5 class="heading--05 guide-index__ilvl">Item Level: {{ guide.ilvl }}</h5>

                            </a>

                        </div>

                    {% endfor %}

                    <div class="box full guide-index__no-result">
                        <h4 class="heading--04">Sorry, the guide you're looking for doesn't exist!</h4>
                        <p>Want to suggest a guide? Tweet your ideas to <a href="https://twitter.com/intent/tweet?screen_name=joshdrink" title="Tweet Josh" target="_blank">@joshdrink</a>!</p>
                    </div>

                </div>

            </div>

        </section>

        {% include attribution.html %}

        {% include scripts.html %}

    </body>

</html>
