<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    <body>

        {% include google_tag_manager.html %}

        {% include navigation.html %}

        <section class="hero" style="background-image: url('/img/texture_hero.jpg');" title="A background photo of Ottawa, Ontario.">

            <div class="core__container--content">

                <h1 class="hero__title">Design, build,<br>level up.</h1>
                <a href="#about" title="Learn more about Josh." class="hero__trigger">Explore</a>

            </div>

            <span class="hero__credit"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"> <g class="nc-icon-wrapper" fill="#444444"> <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"></path> </g> </svg> Ottawa, Canada.</span>

        </section>

        {% include landing/about.html %}

        <a id="skills"></a>

        <section class="services">

            <div class="core__container--content core__content content__center">
                <h2>How I Can Help You</h2>
            </div>

            <div class="core__container--content services__grid">

                <div class="services__accordion active">
                    <a href="#" title="" class="services__accordion-trigger">
                        <h4>"I need someone to help me organize my ideas!"</h4>
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                            <g class="nc-icon-wrapper" fill="#444444">
                                <path d="M14.83 16.42L24 25.59l9.17-9.17L36 19.25l-12 12-12-12z"></path>
                            </g>
                        </svg>
                    </a>
                    <div class="services__accordion-content core__content">
                        <p>Feeling <span class="services__feeling">Curious</span>? <span class="services__feeling">Ambitious</span>? <span class="services__feeling">Lost</span>?</p>
                        <p>You find yourself full of creativity and are bursting to the brim with great ideas and genuine motivation to make the world a better place. You're ready to build something awesome, but things feel daunting and lack clarity. You've found a problem you can't stop thinking about but aren't quite sure what to do about it.</p>
                        <p>We can collaborate on getting your thoughts, ideas, and problems down on paper into a tangible format that will help you make an efficient next move. We can discuss the core principles and problems behind each of your ideas and perform real-world research by talking with the people who matter most: your potential users.</p>
                        <p class="services__contact--01">Interested in chatting?

                            <script type="text/javascript">
                                $(".services__contact--01").append("<a id='services01Trigger' href='#' title='Copy Josh&#39;s email.' class='tagService01ContactJS'>Copy my email<div class='services__01-contact-tag'>Email copied!</div></a> - the next step is up to you!");
                            </script>

                            <noscript>
                                <a href="mailto:hello@joshbeveridge.ca" title="Get in touch with Josh." class="tagService01ContactNoJS">Email me to get started.</a>
                            </noscript>

                        </p>
                    </div>
                </div>

                <div class="services__accordion active">
                    <a href="#" title="" class="services__accordion-trigger">
                        <h4>"I have an idea but have no clue what to do next!"</h4>
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                            <g class="nc-icon-wrapper" fill="#444444">
                                <path d="M14.83 16.42L24 25.59l9.17-9.17L36 19.25l-12 12-12-12z"></path>
                            </g>
                        </svg>
                    </a>
                    <div class="services__accordion-content core__content">
                        <p>Feeling <span class="services__feeling">Excited</span>? <span class="services__feeling">Overwhelmed</span>? <span class="services__feeling">Indecisive</span>?</p>
                        <p>You believe you've stumbled upon the next big thing but you're unsure what to do next. You've confirmed that there's a problem that needs some tackling and you're ready to go about testing your idea. You don't have a huge budget, but you need to prove some traction to help get your idea in front of the right eyes.</p>
                        <p>We can collaborate on solidifying your concept and ensuring things are well tested before you have to decide to invest full-time. We'll build prototypes and get them in the hands of your potential users to make sure their needs are being met and their voices are being heard. Finally, we can prepare technical documentation for your product so we can approach the right developers to get your first iteration built.</p>
                        <p class="services__contact--02">Let's make something tangible!

                            <script type="text/javascript">
                                $(".services__contact--02").append("<a id='services02Trigger' href='#' title='Copy Josh&#39;s email.' class='tagService02ContactJS'>Copy my email<div class='services__02-contact-tag'>Email copied!</div></a> - the next step is up to you!");
                            </script>

                            <noscript>
                                <a href="mailto:hello@joshbeveridge.ca" title="Get in touch with Josh." class="tagService02ContactNoJS">Email me to get started.</a>
                            </noscript>

                        </p>
                    </div>
                </div>

                <div class="services__accordion active">
                    <a href="#" title="" class="services__accordion-trigger">
                        <h4>"I have a product that's in dire need of some love!"</h4>
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                            <g class="nc-icon-wrapper" fill="#444444">
                                <path d="M14.83 16.42L24 25.59l9.17-9.17L36 19.25l-12 12-12-12z"></path>
                            </g>
                        </svg>
                    </a>
                    <div class="services__accordion-content core__content">
                        <p>Feeling <span class="services__feeling">Frustrated</span>? <span class="services__feeling">Hopeful</span>? <span class="services__feeling">Creative</span>?</p>
                        <p>You've got a product and it's been serving you well for some time, but things are starting to feel a little stale. You're starting to receive feedback from your users that your product might be falling behind competitors or lacks the visual lustre it once had. You're ready for your product to change but need a hand with the direction.</p>
                        <p>We can collaborate on learning more about what your users expect from your product over the next little while. We'll dive into competitors' products and talk with your users to understand where value can be brought in, and perhaps where clutter can be carved out. We can work together to polish your product's interface and ensure it not only works well, but feels fantastic.</p>
                        <p class="services__contact--03">Let's create some change!

                            <script type="text/javascript">
                                $(".services__contact--03").append("<a id='services03Trigger' href='#' title='Copy Josh&#39;s email.' class='tagService03ContactJS'>Copy my email<div class='services__03-contact-tag'>Email copied!</div></a> - the next step is up to you!");
                            </script>

                            <noscript>
                                <a href="mailto:hello@joshbeveridge.ca" title="Get in touch with Josh." class="tagService03ContactNoJS">Email me to get started.</a>
                            </noscript>

                        </p>
                    </div>
                </div>

                <div class="services__accordion active">
                    <a href="#" title="" class="services__accordion-trigger">
                        <h4>"I need help measuring my product's success!"</h4>
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                            <g class="nc-icon-wrapper" fill="#444444">
                                <path d="M14.83 16.42L24 25.59l9.17-9.17L36 19.25l-12 12-12-12z"></path>
                            </g>
                        </svg>
                    </a>
                    <div class="services__accordion-content core__content">
                        <p>Feeling <span class="services__feeling">Pressured</span>? <span class="services__feeling">Focused</span>? <span class="services__feeling">Motivated</span>?</p>
                        <p>You have a product and you're happy with the way it works, looks, and feels. Your product's launch has come and gone and you now need to prove its success and long term value. You're unsure how to collect the data you need to validate the original goals you started with. You know your product has to evolve over time but have no idea in what ways.</p>
                        <p>We can collaborate to generate a set of goals and metrics that will showcase your product's success over time. We'll determine what success means to you, followed by some brainstorming around how this success can be effectively measured. We'll look towards the future and prepare a measurement plan to enable you to make informed decisions about your product's next steps.</p>
                        <p class="services__contact--04">Want to learn more?

                            <script type="text/javascript">
                                $(".services__contact--04").append("<a id='services04Trigger' href='#' title='Copy Josh&#39;s email.' class='tagService04ContactJS'>Copy my email<div class='services__04-contact-tag'>Email copied!</div></a> - the next step is up to you!");
                            </script>

                            <noscript>
                                <a href="mailto:hello@joshbeveridge.ca" title="Get in touch with Josh." class="tagService04ContactNoJS">Email me to get started.</a>
                            </noscript>

                        </p>
                    </div>
                </div>

            </div>

            <div class="core__container--content services__skill-accordion">
                <a href="#" title="Click here for a more concrete list of my skills." class="services__skill-accordion-trigger">Click to <span class="services__skill-accordion-see">see</span><span class="services__skill-accordion-hide">hide</span> my technical skills.</a>
                <div class="services__skill-accordion-content core__content">
                    <p>I have over 5 years of digital design experience that ranges from crafting startup strategies to prototyping mobile apps. I've spent some brief time formally studying Psychology and Interdisciplinary Design but my expertise lies in my experience helping real people solve real problems.</p>
                    <h5>Business Strategy</h5>
                    <ul>
                        <li>Root Problem Analysis</li>
                        <li>Goal Setting & KPI Selection</li>
                        <li>Entrepreneurship &amp; Lean Canvas</li>
                        <li>Brand Consultation</li>
                        <li>Technical Documentation</li>
                    </ul>
                    <h5>Experience Design</h5>
                    <ul>
                        <li>User Ideation</li>
                        <li>User Interviews</li>
                        <li>User Surveying</li>
                        <li>Information Architecture</li>
                        <li>Wireframing</li>
                        <li><a href="http://www.adobe.com/ca/products/xd.html" title="Learn more about Adobe XD." target="_blank">Digital Prototyping</a></li>
                        <li><a href="https://analytics.google.com" title="Learn more about Google Analytics." target="_blank">Google Analytics</a></li>
                        <li><a href="https://www.google.com/analytics/tag-manager/" title="Learn more about Google Tag Manager." target="_blank">Google Tag Manager</a></li>
                    </ul>
                    <h5>Front-end Development</h5>
                    <ul>
                        <li><a href="https://git-scm.com/" title="Learn more about Git." target="_blank">Git</a> & Version Control</li>
                        <li>Responsive Design</li>
                        <li><a href="https://www.npmjs.com/" title="Learn more about NPM." target="_blank">NPM</a> / <a href="https://gulpjs.com/" title="Learn more about Gulp." target="_blank">Gulp</a></li>
                        <li>HTML5 / CSS3</li>
                        <li><a href="http://sass-lang.com/" title="Learn more about Sass." target="_blank">Sass</a>/<a href="http://postcss.org/" title="Learn more about PostCSS." target="_blank">PostCSS</a></li>
                        <li><a href="https://jquery.com/" title="Learn more about jQuery" target="_blank">jQuery</a></li>
                        <li><a href="https://jekyllrb.com/" title="Learn more about Jekyll." target="_blank">Jekyll</a></li>
                        <li><a href="http://shopify.github.io/liquid/" title="Learn more about Liquid." target="_blank">Liquid</a> Templating</li>
                        <li><a href="https://twig.symfony.com/" title="Learn more about Twig." target="_blank">Twig</a> Templating</li>
                    </ul>
                </div>
            </div>

        </section>

        <a id="work"></a>
        <section class="work">

            <div class="work__grid">

                <a href="https://talent.canada.ca" title="Visit Talent Cloud's Github, Photo by Kelly Kinsman." target="_blank" class="work__item tagPracticeTC" style="background-image: url('/img/texture_tc.jpg');">

                    <div class="core__container--content">

                        <span class="work__item-label">Right Now</span>

                        <h3 class="work__item-title">Talent Cloud</h3>

                        <h5 class="work__item-subtitle"><strong>Role</strong>: Technical Adviser</h5>

                        <p class="work__item-copy core__content">I currently work as a designer and front-end developer on the Talent Cloud team. Talent Cloud is a grassroots initiative with the intent of revolutionizing the way hiring works within the Federal Government of Canada. My time is spent working on front-end systems design within the project and producing clean, accessible user interfaces. I provide insight into analytics and goal setting to help the project evolve from concept to working prototype.</p>

                        <span class="work__item-tag">Systems Design</span>
                        <span class="work__item-tag">Experience Design</span>
                        <span class="work__item-tag">Front-end Dev</span>
                        <span class="work__item-tag">Analytics</span>

                    </div>

                </a>

                <a href="https://designwithclone.ca" title="Learn more about the Clone front-end design framework." target="_blank" class="work__item tagPracticeClone" style="background-image: url('/img/texture_clone.jpg');">

                    <div class="core__container--content">

                        <span class="work__item-label">Right Now</span>

                        <h3 class="work__item-title">Clone Design System</h3>

                        <h5 class="work__item-subtitle"><strong>Role</strong>: Lead</h5>

                        <p class="work__item-copy core__content">While at Talent Cloud I had the opportunity to begin construction on a front-end design framework that would simplify and speed up our user interface build timelines. The design framework is open source and free for anyone to use. This has led to deeper discussions around how the Government of Canada uses design systems and what the future might look like.</p>

                        <span class="work__item-tag">Government Policy</span>
                        <span class="work__item-tag">Systems Design</span>
                        <span class="work__item-tag">Experience Design</span>
                        <span class="work__item-tag">Front-end Dev</span>

                    </div>

                </a>

                <a href="https://ffxivpocketguide.com" title="View the Pocket Guide website." target="_blank" class="work__item tagPracticePocketGuide" style="background-image: url('/img/texture_ffxiv.jpg');">

                    <div class="core__container--content">

                        <span class="work__item-label">Community Project</span>

                        <h3 class="work__item-title">The FFXIV Pocket Guide</h3>

                        <h5 class="work__item-subtitle"><strong>Role</strong>: Founder, Designer, Developer</h5>

                        <p class="work__item-copy core__content">Video games are serious business. Content in Final Fantasy XIV can be both intimidating and incredibly challenging, requiring ample preparation and teamwork to succeed. Guide content has always flourished in video format on YouTube, however, as someone who prefers text format guides, I took it upon myself to build and maintain a database of mobile friendly guides that could be accessed on the fly.</p>

                        <span class="work__item-tag">Experience Design</span>
                        <span class="work__item-tag">Front-end Dev</span>
                        <span class="work__item-tag">Content Publishing</span>
                        <span class="work__item-tag">Analytics</span>

                    </div>

                </a>

                <a href="http://codeandmortar.com" title="Visit Code + Mortar." target="_blank" class="work__item tagPracticeCM" style="background-image: url('/img/texture_cm.jpg');">

                    <div class="core__container--content">

                        <span class="work__item-label">Past Work</span>

                        <h3 class="work__item-title">Code + Mortar</h3>

                        <h5 class="work__item-subtitle"><strong>Role</strong>: Jack of All Trades</h5>

                        <p class="work__item-copy core__content">Recent full-time work involved regularly swapping hats to meet the needs of clients at Code + Mortar. A majority of my time was spent discussing startup opportunities with potential clients, performing user research, wireframing, prototyping, writing technical documentation, and doing front-end development. It was my job to ensure our clients understood their problem and aligned their project goals before they reached our development team.</p>

                        <span class="work__item-tag">Business Strategy</span>
                        <span class="work__item-tag">Experience Design</span>
                        <span class="work__item-tag">Documentation</span>
                        <span class="work__item-tag">Front-end Dev</span>

                    </div>

                </a>

            </div>

        </section>

        {% include landing/publications.html %}

        {% include footer.html %}

        {% include scripts.html %}

    </body>

</html>
